* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}
h1,
h2,
h3 {
  color: rgb(59, 59, 59);
}

h3,
h4 {
  font-weight: 500;
  color: rgb(78, 78, 78);
}

.App {
  transition: all 500ms ease;
}

.library__active {
  margin-left: 20%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
